body {
    font-family: Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

img {
    vertical-align: middle;
}


.search-box {
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /*border-left: 0px;*/
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.search-controls{
    text-align:center;
}

.collapse-well{
    text-align:center;
}

.response-document{
    margin-bottom :2em;
}

.response-metadata{
    -moz-transition: all 220ms ease-in-out;
    color: #808080;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#footer {
    color: #4a5f6e;
    font-size: 12px;
    text-align: center;
} 
.page-navigator{
    
}
.page{
    padding-right: 1em;
    padding-bottom: 1em;
}
.attivio-landing-card {
        padding: 2em;
        margin-top :1em;
        margin-bottom :1em;
        background-color: #fff;
        border: 1px solid #d0d0d0;
        border-top: 3px solid #2f75b0;
        -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, .05);
        box-shadow: 3px 3px 0 rgba(0, 0, 0, .05);
    }
	
.example-enter {
  opacity: 0.1;
}

.example-enter.example-enter-active {
  opacity: 1;
  
}


.example-leave {
     visibility: hidden;
    height: 0px;
    width: 0px;
    
    /* Starting opacity */
    opacity: 1.0;
}

.example-leave.example-leave-active {
  opacity: 0.00;
}

.response-document-field-list tr:nth-child(odd) td {
  background:#EBEBEB;
}

.field-value{
	vertical-align: middle !important; 
	padding: 4px !important;
}

.field-label{
	padding: 4px !important;
}




/* ShowTextComponent */
.show-text-hidden{
    display:none;
}

.show-text-show{
    display:block;
}

/* Header.react */
.masthead-user {
    color: #fff;
    text-decoration: none;
}

.attivio-header {
    margin-top:auto;
    margin-bottom:auto;
    width:100%;

}

.attivio-toolbar {
    float:right;
    padding-right:1em;
    color: #fff;
}

.list-inline li {
    float: right;
    padding-left:5px;
    padding-right:5px
}

.list-inline > li::before {
    content: " | ";
    margin-left: -2px;
    padding-right: 7px;
}


.attivio-logo{
    max-height: 25.6034482759px;
    max-width: 198px;
    margin-right: 3em;
}

/* Preferences Component */
.preference-pane label{
    margin-right: 1em;
}

.preference-pane table td{
    padding: 1em;
}

.attivio-masthead {
    padding: 1em 1em 13px 1em;
    background-image: -webkit-linear-gradient(left, #000 0%, #264c82 100%);
    background-image: -o-linear-gradient(left, #000 0%, #264c82 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#000), to(#264c82));
    background-image: linear-gradient(to right, #000 0%, #264c82 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff264c82', GradientType=1);
    background-repeat: repeat-x;
}


@media screen and (min-width: 800px) 
{

    .attivio-identifier {
        display: inline;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        opacity: .8;
    }

    .search-button{
        margin-left: 1em;
        vertical-align: top;
    }
}

@media screen and (max-width: 800px) 
{

    .attivio-identifier {
        display: none;
    }

    .search-button{
        padding: 6px 0em;
        margin-left: .5em;
        vertical-align: top;
    }

    .col-sm-8{
        padding-right: 0em;
        padding-left: 0em;
    }


}